<!DOCTYPE html>
<html>

<body>
    <h2>Library Database Management</h2>
    <a href="{{ url('add_form') }}"
       id="addBook" class="btn btn-primary btn-success btn-xs" style="margin-right: 5px;"
    >
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        Add Book
    </a>

</body>

</html>
